.heroes {
  @apply mb-[2em] list-none p-0 w-[15em];
}

.heroes li {
  @apply cursor-pointer relative left-0 bg-[#eee] m-[.5em] py-[.3em] h-[1.6em] rounded-[4px];
}

.heroes li:hover {
  @apply text-[#2c3a41] bg-[#e6e6e6] left-[.1em];
}

.heroes li.selected {
  @apply bg-black text-white;
}

.heroes li.selected:hover {
  @apply bg-[#505050] text-white;
}

.heroes li.selected:active {
  @apply bg-black text-white;
}

.heroes .badge {
  @apply inline-block text-sm text-white pt-[0.8em] px-[0.7em] bg-[#405061] leading-[1em] relative left-[-1px] top-[-4px] h-[1.8em] mr-[.8em] rounded-l-[4px];
}


